# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# SQLite DB
*.db
*.sqlite3

# Environment files
.env
.env.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
.coverage
.tox/
.nox/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Docker-related
**/data/        # Local data (like SQLite file)
docker-compose.override.yml
docker-compose.yml
Dockerfile

# VS Code
.vscode/

# macOS / Windows system files
.DS_Store
Thumbs.db

