# .env
# client secrets
DISCORD_BOT_SECRET=MTE4OTA5MzAxMzc2NzYwMjIwNg.GhoXCA.wLUVlsIdeSpDjRDLu-uE3rNS-oAV_-fcKbeMUo
NO_MONGO=true
LOCAL_DB_NAME=local.db
# Bot settings
GACHA_MIN_BALANCE=14
ADMIN_CHANNEL_NAME=sustain-admin
LOG_CHANNEL_NAME=logs-sustainability
ROLE_NAME=Sustain Mod

#local database settings
